.popup__button {
    width: 100%;
    color: white;
    background-color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 50px;
    margin-top: 18px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup__button:hover {
    opacity: 0.8;
}