.header {
  max-width: 880px;
  min-height: 74px;
  background-color: black;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {

    max-width: calc(100% - 400px);
  }
}


@media (min-width: 469px) and (max-width: 1023px) {
  .header {

    max-width: calc(100% - 100px);
  }
}

@media (min-width: 320px) and (max-width: 468px) {
  .header {
    margin: 28px 0px 42px;
    max-width: 100%;
    padding-left: 27px;
  }
}