.profile__button-add {
    width: 150px;
    height: 50px;
    position: relative;
    background-color: black;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    transition: opacity .3s ease-in;
    cursor: pointer;
}

.profile__button-add:hover {
    opacity: 0.6;
}

.profile__button-add::after,
.profile__button-add::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    top: 12px;
    left: 50%;
}

.profile__button-add::after {
    transform: rotate(-90deg);
}

@media (min-width: 320px) and (max-width: 768px) {
    .profile__button-add {

        width: 100%;
    }
}