/* .profile__id-wrapper {
    position: relative;
  }
  
  .profile__avatar-wrapper:hover::before {
    background-color: rgba(0, 0, 0, .8);
  }
  
  .profile__avatar-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
  } */